torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pandas
umap-learn
openslide-python
h5py
scikit-learn
seaborn
matplotlib
Pillow
kde
scipy
scikit-image
pyvips
webcolors
lifelines
scikit-survival
openpyxl
flask
opencv-python==4.5.5.64
transformers
timm



















